{cover_enabled, true}.

{erl_opts, [
  debug_info,
  warnings_as_errors,
  {parse_transform, lager_transform}
]}.

{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", "2.0.0"}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "0.8.4"}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "v1.4.1"}},
  {fast_key, ".*", {git, "https://github.com/CamShaft/fast_key.git"}},
  {simple_env, ".*", {git, "https://github.com/CamShaft/simple_env.git"}},
  {cowboy_base, ".*", {git, "https://github.com/CamShaft/cowboy-base.git"}},
  {cowboy_empty_favicon, ".*", {git, "https://github.com/CamShaft/cowboy_empty_favicon.git"}},
  {cowboy_resource_owner, ".*", {git, "https://github.com/CamShaft/cowboy_resource_owner.git"}},
  {cowboy_resource_builder, ".*", {git, "https://github.com/CamShaft/cowboy_resource_builder.git"}},
  {cowboy_resource_owner_simple_secrets, ".*", {git, "https://github.com/CamShaft/cowboy_resource_owner_simple_secrets.git"}},
  {sync, ".*", {git, "https://github.com/rustyio/sync.git", "master"}},
  {ling_builder, ".*", {git,"git://github.com/maximk/ling_builder.git","master"}}
]}.

{plugins,[ling_builder]}.
{ling_builder_opts,[{build_host,"build.erlangonxen.org:8080"},
    {username,"CamShaft"},
    {password,"MCGY8pVZu2zBZTafEYCosowcYG"}]}.
