{cover_enabled, true}.

{erl_opts, [
  debug_info,
  warnings_as_errors,
  {parse_transform, lager_transform}
]}.

{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", "2.0.0"}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "0.8.4"}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "v1.4.1"}},
  {simple_secrets, ".*", {git, "https://github.com/CamShaft/simple_secrets.erl.git", "1.0.1"}},
  {sync, ".*", {git, "https://github.com/rustyio/sync.git", "master"}},
  {ling_builder, ".*", {git,"git://github.com/maximk/ling_builder.git","master"}}
]}.

{plugins,[ling_builder]}.
{ling_builder_opts,[{build_host,"build.erlangonxen.org:8080"},
    {username,"CamShaft"},
    {password,"MCGY8pVZu2zBZTafEYCosowcYG"}]}.
