{cover_enabled, true}.

{erl_opts, [
  debug_info,
  warnings_as_errors,
  {parse_transform, lager_transform}
]}.

{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", "2.0.0"}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "0.8.6"}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "v1.4.1"}},
  {fast_key, ".*", {git, "https://github.com/CamShaft/fast_key.git"}},
  {simple_env, ".*", {git, "https://github.com/CamShaft/simple_env.git"}},
  {pusherl, ".*", {git, "https://github.com/CamShaft/pusherl.git", "master"}},
  {websaferl, ".*", {git, "https://github.com/CamShaft/websaferl.git"}},
  {batch, ".*", {git, "https://github.com/CamShaft/batch.git"}},
  {presenterl, ".*", {git, "https://github.com/CamShaft/presenterl.git"}},
  {erlenv, ".*", {git, "https://github.com/CamShaft/erlenv.git"}},
  {privdir, ".*", {git, "https://github.com/CamShaft/privdir.git"}},
  {simple_sup, ".*", {git, "https://github.com/CamShaft/simple_sup.git"}},
  {cowboy_env, ".*", {git, "https://github.com/CamShaft/cowboy_env.git"}},
  {cowboy_fun, ".*", {git, "https://github.com/CamShaft/cowboy_fun.git"}},
  {cowboy_base, ".*", {git, "https://github.com/CamShaft/cowboy-base.git"}},
  {cowboy_cors, ".*", {git, "https://github.com/CamShaft/cowboy_cors.git"}},
  {cowboy_route_loader, ".*", {git, "https://github.com/CamShaft/cowboy_route_loader.git"}},
  {cowboy_empty_favicon, ".*", {git, "https://github.com/CamShaft/cowboy_empty_favicon.git"}},
  {cowboy_resource_owner, ".*", {git, "https://github.com/CamShaft/cowboy_resource_owner.git"}},
  {cowboy_resource_builder, ".*", {git, "https://github.com/CamShaft/cowboy_resource_builder.git"}},
  {cowboy_resource_owner_simple_secrets, ".*", {git, "https://github.com/CamShaft/cowboy_resource_owner_simple_secrets.git"}},
  {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client.git", "3749c83ffe896d055465aff342f5708b9cbb34fb"}},
  {riakou, ".*", {git, "https://github.com/CamShaft/riakou.git"}},
  %% TODO write my own since he includes mochiweb
  {balanced, ".*", {git, "https://github.com/mattsta/balanced-erlang.git", "f912d3364d9085f5520517d5a0a3536bf28c4306"}},
  {sync, ".*", {git, "https://github.com/rustyio/sync.git", "master"}},
  {eredis, ".*", {git, "https://github.com/wooga/eredis.git"}}
]}.
